.active {
  background-color:#0099ff;
  color: white;
}
a{
color: white;
}
 a:hover {
  background-color: #ddd;
     color: black;}

button{
background-color:#0099ff;
    color: white;
    width:150px;
    height:50px; 
    border-radius: 25px;
  border: 2px solid #0099ff;
font-family:Blippo, fantasy; 
}
 #names,#phone,#pass,#confirm_pass{
      width: 15%;
      height: 25px;
      margin:10px;
     padding:10px; 
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
      border-radius: 10px;
     outline:0; 
     font-family:Snell Roundhand, cursive; 
    }

.Form{
    text-align: center;
}
span{
font-family:Comic Sans MS, Comic Sans, cursive;     
}
